@model IEnumerable<PhotoData>
<div id="lightgallery">
    @foreach (var photo in Model)
    {
        <a href="@photo.Urls.Regular">
            <img src="@photo.Urls.Thumb" />
        </a>
    }
</div>
@{
    var currentPage = (int)ViewBag.CurrentPage;
}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @if (currentPage > 1)
        {
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@(currentPage-1)">Previous</a></li>
        }
        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@(currentPage+1)">Next</a></li>
    </ul>
</nav>
@section Scripts{
    <script src="~/lib/lightGallery/js/lightgallery-all.min.js"></script>
    <script src="~/lib/lightGallery/js/lg-thumbnail.min.js"></script>
    <script src="~/lib/lightGallery/js/lg-fullscreen.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightgallery").lightGallery();
        });
    </script>
}